@tailwind base;
@tailwind components;
@tailwind utilities;

.height-rhombus {
    position: absolute;
    top: -40px;
    bottom: -150px;
    width: 100%;
}

.height-rhombus__block {
    height: 560px;
}

.polygon {
    width: 273px;
    height: 240px;
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

.marquee {
    padding-left: 100%;
    animation: scroll 10s infinite linear;
}
